@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web


@*
    This snippet makes a list of links to the of children of the current page using an unordered HTML list.

    How it works:
    - It uses the Children method to get all child pages
    - It then uses the OrderByDescending() method, which takes the property to sort. In this case the page's creation date.
    - It then generates links so the visitor can go to each page
*@

@{ var selection = Model.Content.Children.Where(x => x.IsVisible()).OrderByDescending(x => x.CreateDate).ToArray(); }

@if (selection.Length > 0)
{

    foreach (var item in selection)
    {
        <div class="ml-4 clearfix">
            @if (item.HasValue("articlePicture"))
            {
                var mediaId = item.GetPropertyValue("articlePicture").ToString();
                <a class="link-to-item" href="@item.Url">
                    <img class="project-img float-left" src="@Umbraco.TypedMedia(mediaId).Url" alt="" />
                </a>
            }
            else
            {
                <img class="project-img float-left" src="~/Media/not-available.jpg" />
            }
            <h3 class="light-font">
                <a class="project-link" href="@item.Url">@item.Name</a>
            </h3>
            <div class="light-font text-white short-description">
                <p class="text-justify">@Umbraco.Truncate(item.GetPropertyValue<string>("articleContent"), 199)</p>
                <a class="project-link text-dark" href="@item.Url">Read More...</a>
            </div>
        </div>
        <hr />
    }
}
<br />